.box {
	--box-padding: var( --page-margin );
	padding: var( --box-padding );
}

.center {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
}

.stack > * + * {
	margin-top: var( --stack-space, 1em );
}

.stack-lg > * + * {
	margin-top: var( --stack-space, calc( 1em * var( --s-ratio ) * var( --s-ratio ) * var( --s-ratio ) ) );
}
