{% include "css/reset.css" %}
{% include "css/fonts.css" %}
{% include "css/global.css" %}
{% include "css/composition.css" %}
{% include "css/utilities.css" %}

/* Blocks */
{% set blocks = [
	"css/blocks/header.css",
	"css/blocks/page.css",
	"css/blocks/footer.css"
]%}
{%- for path in blocks -%}
	{%- import path as stylesheet -%}
	{{- stylesheet.critical | safe -}}
	{{ ("Added " + path + " to critical CSS") | log }}
{%- endfor -%}
