:root {
	--s-ratio: 1.5;
	--s-5: calc( var( --s-4 ) / var( --s-ratio ) );
	--s-4: calc( var( --s-3 ) / var( --s-ratio ) );
	--s-3: calc( var( --s-2 ) / var( --s-ratio ) );
	--s-2: calc( var( --s-1 ) / var( --s-ratio ) );
	--s-1: calc( var( --s0 ) / var( --s-ratio ) );
	--s0: 1rem;
	--s1: calc( var( --s0 ) * var( --s-ratio ) );
	--s2: calc( var( --s1 ) * var( --s-ratio ) );
	--s3: calc( var( --s2 ) * var( --s-ratio ) );
	--s4: calc( var( --s3 ) * var( --s-ratio ) );
	--s5: calc( var( --s4 ) * var( --s-ratio ) );
	--s6: calc( var( --s5 ) * var( --s-ratio ) );

	--measure: 72rem;
	--page-margin: clamp( var( --s2 ), 10vw, var( --s6 ) );

	--font-sans: soehne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Menlo, Monaco, "Courier New", Courier, monospace;
	--font-body: tiempos, var( --font-sans );

	{%- for key in tokens.colors | keys %}
	--color-{{ key }}: {{ tokens.colors[key] }};
	{%- endfor %}

	{%- for theme in tokens.themes | keys %}
	--theme-{{ theme }}-primary: {{ tokens.themes[theme].primary }};
	--theme-{{ theme }}-secondary: {{ tokens.themes[theme].secondary }};
	--theme-{{ theme }}-tertiary: {{ tokens.themes[theme].tertiary }};
	--theme-{{ theme }}-light: {{ tokens.themes[theme].light }};
	{%- endfor %}
}

body {
	color: var( --theme-text );
	font-family: var( --font-body );
}

body * {
	font-size: clamp( calc( var( --s1) + 0.1rem ), 5vw, var( --s4 ) );
	line-height: 1.2;
	letter-spacing: -0.00125em;
}

a {
	color: currentcolor;
}
a:hover {
	color: var( --theme-primary );
	text-decoration: underline;
}

code {
	font-family: var( --font-mono );
}
