.theme-inverse {
	--theme-background: var( --theme-primary );
	--theme-text: var( --theme-secondary );
	--theme-heading: var( --theme-secondary );
	--theme-icon: var( --theme-secondary );
}

.themed {
	background-color: var( --theme-background );
	color: var( --theme-text );
}
	.themed a {
		color: var( --theme-link );
	}

.grid {
	display: grid;
}

.measure {
	max-width: var( --measure );
}
