<footer class="[][][ footer ][ themed ]">
	<div class="[ box center stack ][ measure ][]">
		<h2>The Personal Website of Ashur Cabrera</h2>
		<p>Made at 5280 feet in Denver, Colorado</p>
	</div>
</footer>
