<footer class="[][][ footer ][ themed ]">
	<div class="[ box center stack ][ measure ][]">
		<h2>the Personal Website of Ashur Cabrera</h2>
		<p>Designed and built in Denver using <a href="https://sketch.com">Sketch</a>, <a href="https://11ty.dev">Eleventy</a> and <a href="https://nova.app">Nova</a>. Hosted in your neck of the woods by <a href="https://netlify.com">Netlify</a>.</p>
	</div>
</footer>
