<header class="[][][ header ]">
	<div class="[ center stack ][ measure ][]">
		<a href="/">
			<div class="[][ theme-inverse ][ header-icon ]" role="img">
				{% include "images/icon-cab.svg" %}
			</div>
		</a>
	</div>
</header>
