<header class="[][][ header ]">
	<div class="[ center stack ][ measure ][]">
		<a href="/">
			<div class="[][ theme-inverse ][ header-icon ]" role="img" aria-label="Taxi">
				{% svgmin %}{% include "images/icon-cab.svg" %}{% endsvgmin %}
			</div>
		</a>
	</div>
</header>
