<header class="[][][ header ]">
	<div class="[ center stack ][ measure ][]">
		<a href="/rera">
			<div class="[][][ header-icon ]" role="img" aria-label="Home">
				{% svgmin %}{% include "images/icon-cab.svg" %}{% endsvgmin %}
			</div>
		</a>
	</div>
</header>
