{%- set critical -%}
.button-pronounce {
	border: none;
	background: none;
	padding: 0;
	height: 1em;
	color: var( --theme-accent );
}
.button-pronounce:hover {
	cursor: pointer;
}
.button-pronounce.playing {
	--theme-icon: var( --theme-primary );
	--theme-icon-contents: var( --color-white );
}

.button-pronounce > * {
	position: relative;
	height: 0.75em;
	width: 0.75em;
}
{%- endset -%}
