{%- set critical -%}
.button-pronounce {
	--theme-icon: #111827;
	--theme-icon-content: #6ee7b7;

	border: none;
	background: none;
	padding: 0;
	height: 1em;

	transition: transform 0.125s ease;
}
.button-pronounce:hover {
	cursor: pointer;
}
.button-pronounce.playing {
	--theme-icon-content: var( --color-white );
	--theme-icon: #10b981;
}

.button-pronounce > * {
	position: relative;
	height: 0.75em;
	width: 0.75em;
}
{%- endset -%}
