{%- set critical -%}
.header {
	padding-right: var( --page-margin );
	padding-bottom: var( --page-margin );
	padding-left: var( --page-margin );
}

.header-icon {
	--theme-icon: var( --theme-background );

	box-sizing: content-box;
	width: 1em;
	margin-left: -0.5em;
	padding-top: 1em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;

	background-color: var( --theme-icon-background, var( --theme-text ) );
}
{%- endset -%}
