{%- set critical -%}
.project {
	position: relative;
}

.project:before {
	content: "";
	position: absolute;
	top: 0; right: 0;
	height: 1em;
	width: 1em;

	background-image: linear-gradient( 45deg, var( --theme-corner, var( --theme-text ) ) 50%, var( --theme-cli-secondary ) 50% );
}

.project h2 {
	letter-spacing: -0.0125em;
}
.project h2 a {
	text-decoration: none;
}
	.project h2 a:hover {
		text-decoration: underline;
	}
	
.project p {
	font-family: var( --font-sans );
	font-size: clamp( var( --s0), 2.5vw, var( --s2 ) );
	line-height: 1.4;
}
	.project a:hover {
		--theme-icon: var( --theme-text );
		color: var( --theme-corner );
	}

.project svg {
	height: 0.75em;
}
{%- endset -%}
