{%- set critical -%}
.project h2 {
	letter-spacing: -0.0125em;
}
.project h2 a {
	text-decoration: none;
}
	.project h2 a:hover {
		text-decoration: underline;
	}
	
.project p {
	font-family: var( --font-sans );
	font-size: clamp( var( --s0), 2.5vw, var( --s2 ) );
	line-height: 1.4;
}
	.project a:hover {
		--theme-icon: var( --color-white );
		color: var( --color-white );
	}

.project svg {
	height: 0.75em;
}
{%- endset -%}
