@font-face {
	font-family: 'tofino';
	src: url( '/fonts/Tofino-Regular.woff2' ) format( 'woff2' ),
		 url( '/fonts/Tofino-Regular.woff' ) format( 'woff' );

	font-weight: 400;
}

@font-face {
	font-family: 'tofino';
	src: url( '/fonts/Tofino-Bold.woff2' ) format( 'woff2' ),
		 url( '/fonts/Tofino-Bold.woff' ) format( 'woff' );

	font-weight: 600;
}

@font-face {
	font-family: 'tofino-narrow';
	src: url( '/fonts/TofinoNarrow-Regular.woff2' ) format( 'woff2' ),
		 url( '/fonts/TofinoNarrow-Regular.woff' ) format( 'woff' );

	font-weight: 400;
}

@font-face {
	font-family: 'tofino-wide';
	src: url( '/fonts/TofinoWide-Black.woff2' ) format( 'woff2' ),
		 url( '/fonts/TofinoWide-Black.woff' ) format( 'woff' );

	font-weight: 800;
}
