<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

	{%- set metaTitle %}{% if title %}{{ title }} | {% endif %}ashur.cab/rera{% endset -%}
	{%- set pageDescription %}The personal website of Ashur Cabrera{% endset -%}

	<meta name="title" content="{{ metaTitle }}">
	<meta name="description" content="{{ pageDescription }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:title" content="{{ metaTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:image" content="{{ site.url }}/images/social.png">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
	<meta property="twitter:title" content="{{ metaTitle }}">
	<meta property="twitter:description" content="{{ pageDescription }}">
	<meta property="twitter:image" content="{{ site.url }}/images/social.png">

	{%- for size in [16,32,96,120,152,167,180] %}
	<link rel="icon" type="image/png" href="/images/favicon-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}">
	{%- endfor %}
	{% set css -%}
		{%- include "css/critical.css" -%}

		{%- if critical -%}
			{%- for path in critical -%}
				{%- import path as stylesheet -%}

				/* Imported {{ path }} */
				{{ stylesheet.critical | safe }}
			{%- endfor -%}
		{%- endif -%}
	{%- endset -%}

	<style>
		{{ css | cssmin | safe }}
	</style>

	<link rel="preload" href="https://assets.ashur.cab/v2/fonts/tiempos-headline-web-bold-subset.woff" as="font" type="font/woff" crossorigin>
	<link href="https://assets.ashur.cab/v2/fonts/soehne-web-buch-subset.woff" as="font" type="font/woff" crossorigin>

	{%- if external %}
		{%- for path in external -%}
	<link rel="stylesheet" href="/css/{{ path }}" media="print" onload="this.media='all'">
		{%- endfor %}
	{%- endif %}
</head>
<body class="[][ theme-{{ theme if theme else "site" }} ][]">
	{% include "components/header.njk" %}

	{{ content | safe }}

	{% include "components/footer.njk" %}

	{%- if scripts.inline %}
	<script>
	{%- for path in scripts.inline %}
		{% include path %}
	{%- endfor %}
	</script>
	{%- endif %}
</body>
</html>
