---
layout: layouts/base.njk
critical:
  - css/blocks/page.css
---
<main class="[][ pre-footer ][ page ]">
	<article class="[][][]">
		<div class="[ box center stack ][ measure ][ page-header ]">
			{{ content | safe }}
		</div>
	</article>
</main>
