@mixin shadow( $shadow-size, $color ) {
	box-shadow:
		-$shadow-size $shadow-size 0 $color,
		-1px 1px 0 $color,
		-2px 2px 0 $color,
		-3px 3px 0 $color,
		-4px 4px 0 $color,
		-5px 5px 0 $color,
		-6px 6px 0 $color,
		-7px 7px 0 $color,
		-8px 8px 0 $color,
		-9px 9px 0 $color,
		-10px 10px 0 $color,
		-11px 11px 0 $color,
		-12px 12px 0 $color,
		-13px 13px 0 $color,
		-14px 14px 0 $color,
		-15px 15px 0 $color,
		-16px 16px 0 $color,
		-17px 17px 0 $color,
		-18px 18px 0 $color,
		-19px 19px 0 $color,
		-20px 20px 0 $color,
		-21px 21px 0 $color,
		-22px 22px 0 $color,
		-23px 23px 0 $color,
		-24px 24px 0 $color,
		;
}

body {
	margin: 0;
	padding: $unit/2 0 $unit $unit;
	background-color: $color-background;

	@media screen and (max-width: 768px) {
		padding: $small-unit 0 $small-unit $small-unit;
	}
}

.paper {
	position: relative;
	box-sizing: border-box;

	margin: 0 auto;
	padding: $unit / 2;
	background-color: $color-paper;
	width: 100%;
	max-width: 2.2 * $item-width;

	@include shadow( $shadow-size, $color-paper-shadow );

	img {
		width: 100%;
	}

	& + & {
		margin-top: $unit;
	}

	@media screen and (max-width: 768px) {
		padding: $small-unit / 2;
	}
}