.item {
	position: relative;

	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;

	width: 100%;
	min-width: $item-width;
	padding: ($unit / 2);

	@media screen and (min-width: 724px) {
		width: 33%;
	}

	color: $color-print;

	.fill {
		box-sizing: border-box;
		height: $item-width;
		width: 100%;
		max-width: $item-width;
	}

	.about &, &.about {
		color: $color-print-about;

		h3 {
			border-color: $color-print-about;
		}
	}
	&.art {
		color: $color-print-art;

		h3 {
			border-color: $color-print-art;
		}
	}
	&.bots {
		color: $color-print-bots;

		h3 {
			border-color: $color-print-bots;
		}

		&.retired {
			color: $color-print-bots-retired;

			h3 {
				border-color: $color-print-bots-retired;
			}
		}
	}
	&.cli {
		color: $color-print-cli;

		h3 {
			border-color: $color-print-cli;
		}
	}
	&.elsewhere {
		color: $color-print-elsewhere;

		h3 {
			border-color: $color-print-elsewhere;
		}
	}

	h2 {
		margin: $unit/2 0 $unit/4;
		font-family: "tofino-wide";
		font-weight: 800;
		line-height: 1.3;
	}

	h3 {
		padding-bottom: 0.5rem;
		border-bottom: solid $color-print $unit * .104166667;
		font-family: "tofino-narrow";
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		font-family: "tofino";
		font-size: 1.0rem;
		font-weight: 400;
		line-height: 1.55;

		& + p {
			margin-top: $unit / 3;
		}
	}

	a {
		color: inherit;
		font-weight: 700;
	}

	img {
		$shadow-depth: $unit * .104166667;
		margin-top: ($unit / 2);
		border: solid $light-yellow 0px;
		border-left-width: $shadow-depth;
		border-bottom-width: $shadow-depth;
	}
}
