$shadow-size: $unit / 4;
$item-width: $unit * 7;

$color-background: $pink;
$color-paper-shadow: $hot-pink;
$color-paper: $washed-yellow;
$color-print: $dark-blue;
$color-print-about: $navy;
$color-print-art: $dark-blue;
$color-print-bots: $dark-blue;
$color-print-bots-retired: $color-print-bots;
$color-print-cli: $dark-blue;
$color-print-elsewhere: $color-print;
