@import '_colors';

$unit: 3.0rem;

$shadow-size: $unit / 4;

$color-background: $pink;
$color-paper-shadow: $hot-pink;
$color-paper: $washed-yellow;
$color-print: $blue;
$color-print-about: $navy;
$color-print-art: $dark-green;
$color-print-bots: $dark-pink;
$color-print-cli: $dark-blue;
$color-print-elsewhere: $color-print;
