---
layout: layouts/base.njk
theme: site
critical:
  - css/blocks/tile.css
  - css/pages/index.css
permalink: /rera/index.html
---
<main class="[][ grid ][ tiles ]">
    <div class="[][][ tile ]">
		<div class="[ center stack ][ measure ][]">
			<h1>
				Hello! My name is <a href="/rera/is/pronounced">Ashur</a> Cabrera, and this {size} pile of electrons is my website.
			</h1>
		</div>
    </div>

	{% for section in collections.home | sort( false, false, "data.order" ) %}
	<div class="[][ theme-{{ section.data.theme }} ][ tile ]">
		<div class="[ center stack ][ measure ][]">
			{{ section.templateContent | safe }}
	
			{% svgmin %}{% include ("images/icon-" + section.data.icon + ".svg") %}{% endsvgmin %}
		</div>
	</div>
	{% endfor %}
</main>
