---
layout: layouts/base.njk
critical:
  - css/blocks/tiles.css
  - css/blocks/tile.css
---
<main class="[][ grid ][ tiles ]">
    <div class="[][ theme-site ][ tile ]">
		<div class="[ center stack ][ measure ][]">
			<p>
				Hello! My name is Ashur Cabrera, and this {size} pile of electrons is my website.
			</p>
		</div>
    </div>
    
	<div class="[][ theme-cli ][ tile ]">
		<div class="[ center stack ][ measure ][]">
			<p>
	        I’m always tinkering on <a href="/projects">side projects</a> and learning something new. A few of them even make it into the real world.
			</p>

			{% include "images/icon-terminal.svg" %}
	    </div>
	</div>

	<div class="[][ theme-blog ][ tile ]">
		<div class="[ center stack ][ measure ][]">
			<p>
				I write longer and, hopefully, more thoughtful thoughts at my journal, <a href="https://multiline.co/mment">Multiline Comment</a>.
			</p>

			{% include "images/icon-newspaper.svg" %}
		</div>
	</div>

 	<div class="[][ theme-twitter ][ tile ]">
		<div class="[ center stack ][ measure ][]">
			<p>
		        <a href="https://twitter.com/ashur">Twitter</a> is the best place to get in touch. Stick around and roll your eyes at my terrible puns.
			</p>

			{% include "images/icon-twitter.svg" %}
	    </div>
	</div>
</main>
