---
title: Projects
theme: cli
layout: layouts/base.njk
critical:
  - css/blocks/page.css
  - css/blocks/project.css
  - css/blocks/projects.css
permalink: /rera/projects/index.html
---
<main class="[][][ page ]">
	<section class="[][][]">
		<div class="[ box center stack ][ measure ][ page-header ]">
			<h1>{{ title }}</h1>
			<p>I always have my <a href="https://nova.app">text editor</a> open to work on some weird idea or other.</p>
			<p>These are some recent favorites.</p>
		</div>

		<div class="[ stack ][][ projects ]">
			{% for project in collections.projects | sort( false, false, "data.order" ) %}
			{%- set theme = project.data.theme %}
				<div
					class="[ box center stack ][ measure themed ][ project ]"
					style="--theme-text: {{ theme.text }}; --theme-background: {{ theme.background }}; --theme-icon: {{ theme.icon if theme.icon else theme.corner }}; {% if theme.corner %}--theme-corner: {{ theme.corner }};{% endif %}"
				>
					<h2><a href="{{ project.data.url }}">{{ project.data.name }}</a></h2>
					{{ project.templateContent | safe }}
					<p><a href="{{ project.data.url }}" aria-label="{{ project.data.name }}">{% svgmin %}{% include "images/icon-link.svg" %}{% endsvgmin %}</a></p>
				</div>
			{% endfor %}
		</div>
	</section>
</main>
